{% extends "base.html" %}

{% load widget_tweaks %}
{% load i18n %}
{% load account %}

{% block head_title %}{% trans "Password Reset" %}{% endblock %}

{% block content %}

<div class="flex flex-col items-center justify-center min-h-screen bg-gray-100 px-4 py-8">
    <div class="inline-flex bg-white rounded py-2 px-40 shadow-md mb-1">
      <a href="/" class="inline-flex flex-row items-center">
        <svg class="w-10 h-10 text-indigo-600" fill="currentColor" viewBox="0 0 20 20">
          <path
            fill-rule="evenodd"
            d="M11.757 2.034a1 1 0 01.638.519c.483.967.844 1.554 1.207 2.03.368.482.756.876 1.348 1.467A6.985 6.985 0 0117 11a7.002 7.002 0 01-14 0c0-1.79.684-3.583 2.05-4.95a1 1 0 011.707.707c0 1.12.07 1.973.398 2.654.18.374.461.74.945 1.067.116-1.061.328-2.354.614-3.58.225-.966.505-1.93.839-2.734.167-.403.356-.785.57-1.116.208-.322.476-.649.822-.88a1 1 0 01.812-.134zm.364 13.087A2.998 2.998 0 017 13s.879.5 2.5.5c0-1 .5-4 1.25-4.5.5 1 .786 1.293 1.371 1.879.586.585.879 1.353.879 2.121s-.293 1.536-.879 2.121z"
            clip-rule="evenodd"
          />
        </svg>
        <span class="leading-10 text-gray-800 text-4xl font-bold ml-1 uppercase">T I L</span>
      </a>
    </div>


    <div
      class="rounded-md bg-white w-full max-w-sm sm:max-w-md border border-gray-200 shadow-md px-4 py-6 sm:p-8"
    >
    <div class="text-sm sm:text-base text-gray-600 mb-4 text-center">
    <p class="my-4 text-lg font-bold">Password reset</p>
    <hr>
    <p class="my-4">Forgotten your password? Enter your e-mail address below, and we'll send you an e-mail allowing you to reset it.</p>
    
    </div>
      <form method="POST" action="{% url 'account_reset_password' %}" class="password_reset">
        {% csrf_token %}
        <div class="flex flex-col mb-6">
          <label
            for="email"
            class="mb-1 text-xs sm:text-sm tracking-wide text-gray-600"
          >E-Mail Address:</label>
          <div class="relative">
            <div
              class="inline-flex items-center justify-center absolute left-0 top-0 h-full w-10 text-gray-400"
            >
              <svg
                class="h-6 w-6"
                fill="none"
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                viewBox="0 0 24 24"
                stroke="currentColor"
              >
                <path
                  d="M16 12a4 4 0 10-8 0 4 4 0 008 0zm0 0v1.5a2.5 2.5 0 005 0V12a9 9 0 10-9 9m4.5-1.206a8.959 8.959 0 01-4.5 1.207"
                />
              </svg>
            </div>

            {% render_field form.email|append_attr:"class:text-sm sm:text-base placeholder-gray-500 pl-10 pr-4 rounded-lg border border-gray-400 w-full py-2 focus:outline-none focus:border-blue-400" type="email" placeholder="E-mail address" %}
          </div>
        </div>
        
        <div class="flex w-full">
          {% if redirect_field_value %}
            <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
          {% endif %}
          <button
            type="submit"
            class="flex items-center justify-center focus:outline-none text-white text-sm sm:text-base bg-indigo-600 hover:bg-indigo-700 rounded py-2 w-full transition duration-150 ease-in"
          >
            <span class="mr-2 uppercase">Reset my password</span>
            <span>
              <svg
                class="h-6 w-6"
                fill="none"
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                viewBox="0 0 24 24"
                stroke="currentColor"
              >
                <path d="M13 9l3 3m0 0l-3 3m3-3H8m13 0a9 9 0 11-18 0 9 9 0 0118 0z" />
              </svg>
            </span>
          </button>
        </div>
      </form>

        <p>{% blocktrans %}Please contact us if you have any trouble resetting your password.{% endblocktrans %}</p>
    <div class="flex justify-center items-center mt-6">
      <a
        href="{% url 'account_signup' %}"
        class="inline-flex items-center font-bold text-indigo-500 hover:text-indigo-700 text-sm text-center"
      >
        <span>
          <svg
            class="h-6 w-6"
            fill="none"
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            viewBox="0 0 24 24"
            stroke="currentColor"
          >
            <path
              d="M18 9v3m0 0v3m0-3h3m-3 0h-3m-2-5a4 4 0 11-8 0 4 4 0 018 0zM3 20a6 6 0 0112 0v1H3v-1z"
            />
          </svg>
        </span>
        <hr>
        <p class="ml-2">You don't have an account?</p>
        <p class="ml-2">Register now!</p>
      </a>
    </div>
    </div>
    <p class="text-xs mt-10">
      Created by @iAmine</a>
    </p>
  </div>



{% endblock %}