{% load static %}
{% load thumbnail %}



<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% block head_title %}Base file{% endblock head_title %}{% endblock title %}</title>
    <link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css" />
    <link rel="stylesheet" href="https://kit-pro.fontawesome.com/releases/v5.15.1/css/pro.min.css" />

</head>
<body>

    <!-- component -->
    <div class="flex flex-row min-h-screen bg-gray-100 text-gray-800">
        <aside
        class="sidebar w-64 md:shadow transform -translate-x-full md:translate-x-0 transition-transform duration-150 ease-in bg-indigo-500"
        >
            <div class="sidebar-header flex items-center justify-center py-4">
                <div class="inline-flex">
                <a href="#" class="inline-flex flex-row items-center">
                    <svg class="w-10 h-10 text-red-400" fill="currentColor" viewBox="0 0 20 20">
                    <path
                        fill-rule="evenodd"
                        d="M11.757 2.034a1 1 0 01.638.519c.483.967.844 1.554 1.207 2.03.368.482.756.876 1.348 1.467A6.985 6.985 0 0117 11a7.002 7.002 0 01-14 0c0-1.79.684-3.583 2.05-4.95a1 1 0 011.707.707c0 1.12.07 1.973.398 2.654.18.374.461.74.945 1.067.116-1.061.328-2.354.614-3.58.225-.966.505-1.93.839-2.734.167-.403.356-.785.57-1.116.208-.322.476-.649.822-.88a1 1 0 01.812-.134zm.364 13.087A2.998 2.998 0 017 13s.879.5 2.5.5c0-1 .5-4 1.25-4.5.5 1 .786 1.293 1.371 1.879.586.585.879 1.353.879 2.121s-.293 1.536-.879 2.121z"
                        clip-rule="evenodd"
                    />
                    </svg>
                    <span class="leading-10 text-gray-100 text-2xl font-bold ml-1 uppercase">T I L</span>
                </a>
                </div>
            </div>
            <div class="sidebar-content px-4 py-6">
                <ul class="flex flex-col w-full">
                    {% comment %} HOME {% endcomment %}
                    <li class="my-px">
                        <a
                        href="/"
                        class="flex flex-row items-center h-10 px-3 rounded-lg text-gray-700 bg-gray-100"
                        >
                        <span class="flex items-center justify-center text-lg text-gray-400">
                            <svg
                            fill="none"
                            stroke-linecap="round"
                            stroke-linejoin="round"
                            stroke-width="2"
                            viewBox="0 0 24 24"
                            stroke="currentColor"
                            class="h-6 w-6"
                            >
                            <path
                                d="M3 12l2-2m0 0l7-7 7 7M5 10v10a1 1 0 001 1h3m10-11l2 2m-2-2v10a1 1 0 01-1 1h-3m-6 0a1 1 0 001-1v-4a1 1 0 011-1h2a1 1 0 011 1v4a1 1 0 001 1m-6 0h6"
                            />
                            </svg>
                        </span>
                        <span class="ml-3">Home</span>
                        </a>
                    </li>
                    {% if request.user.is_authenticated %}
                    {% comment %} SEE TILS {% endcomment %}
                    <li class="my-px">
                        <span class="flex font-medium text-lg text-gray-300 px-4 my-4 underline">SEE TILs</span>
                    </li>
                    {% comment %} MY TILS {% endcomment %}
                    <li class="my-px">
                        <a
                        href="{% url 'feed:user_posts' %}"
                        class="flex flex-row items-center h-10 px-3 rounded-lg text-gray-300 hover:bg-gray-100 hover:text-gray-700"
                        >
                        <span class="flex items-center justify-center text-lg text-gray-400">
                            <svg
                            fill="none"
                            stroke-linecap="round"
                            stroke-linejoin="round"
                            stroke-width="2"
                            viewBox="0 0 24 24"
                            stroke="currentColor"
                            class="h-6 w-6"
                            >
                            <path
                                d="M9 5H7a2 2 0 00-2 2v12a2 2 0 002 2h10a2 2 0 002-2V7a2 2 0 00-2-2h-2M9 5a2 2 0 002 2h2a2 2 0 002-2M9 5a2 2 0 012-2h2a2 2 0 012 2m-3 7h3m-3 4h3m-6-4h.01M9 16h.01"
                            />
                            </svg>
                        </span>
                        <span class="ml-3">MINE</span>
                        </a>
                    </li>
                    {% comment %} FOLLOWING TILS {% endcomment %}
                    <li class="my-px">
                        <a
                        href="{% url 'feed:followedby_posts' %}"
                        class="flex flex-row items-center h-10 px-3 rounded-lg text-gray-300 hover:bg-gray-100 hover:text-gray-700"
                        >
                        <span class="flex items-center justify-center text-lg text-gray-400">
                            <svg
                            fill="none"
                            stroke-linecap="round"
                            stroke-linejoin="round"
                            stroke-width="2"
                            viewBox="0 0 24 24"
                            stroke="currentColor"
                            class="h-6 w-6"
                            >
                            <path
                                d="M17 20h5v-2a3 3 0 00-5.356-1.857M17 20H7m10 0v-2c0-.656-.126-1.283-.356-1.857M7 20H2v-2a3 3 0 015.356-1.857M7 20v-2c0-.656.126-1.283.356-1.857m0 0a5.002 5.002 0 019.288 0M15 7a3 3 0 11-6 0 3 3 0 016 0zm6 3a2 2 0 11-4 0 2 2 0 014 0zM7 10a2 2 0 11-4 0 2 2 0 014 0z"
                            />
                            </svg>
                        </span>
                        <span class="ml-3">FOLLOWING</span>
                        <span
                            class="flex items-center justify-center text-xs text-red-500 font-semibold bg-red-100 h-6 px-2 rounded-full ml-auto"
                        >{{ total_following }}</span>
                        </a>
                    </li>
                    {% comment %} ADD NEW {% endcomment %}
                    <li class="my-px">
                        <a
                        href="{% url 'feed:new_post' %}"
                        class="flex flex-row items-center h-10 px-3 rounded-lg text-gray-300 hover:bg-gray-100 hover:text-gray-700 js-toggle-modal"
                        >
                        <span class="flex items-center justify-center text-lg text-green-400">
                            <svg
                            fill="none"
                            stroke-linecap="round"
                            stroke-linejoin="round"
                            stroke-width="2"
                            viewBox="0 0 24 24"
                            stroke="currentColor"
                            class="h-6 w-6"
                            >
                            <path d="M12 9v3m0 0v3m0-3h3m-3 0H9m12 0a9 9 0 11-18 0 9 9 0 0118 0z" />
                            </svg>
                        </span>
                        <span class="ml-3">Add new TIL</span>
                        </a>
                    </li>
                    <hr>
                    {% endif %}

                    {% comment %} ACCOUNT {% endcomment %}
                    <li class="my-px">
                        <span class="flex font-medium text-lg underline text-gray-300 px-4 my-4">ACCOUNT</span>
                    </li>
                    {% if request.user.is_authenticated %}
                    {% comment %} MY PROFILE {% endcomment %}
                    <li class="my-px">
                        <a
                        href="{% url 'profiles:profile' request.user.username %}"
                        class="flex flex-row items-center h-10 px-3 rounded-lg text-gray-300 hover:bg-gray-100 hover:text-gray-700"
                        >
                        <span class="flex items-center justify-center text-lg text-gray-400">
                            <svg
                            fill="none"
                            stroke-linecap="round"
                            stroke-linejoin="round"
                            stroke-width="2"
                            viewBox="0 0 24 24"
                            stroke="currentColor"
                            class="h-6 w-6"
                            >
                            <path
                                d="M10.325 4.317c.426-1.756 2.924-1.756 3.35 0a1.724 1.724 0 002.573 1.066c1.543-.94 3.31.826 2.37 2.37a1.724 1.724 0 001.065 2.572c1.756.426 1.756 2.924 0 3.35a1.724 1.724 0 00-1.066 2.573c.94 1.543-.826 3.31-2.37 2.37a1.724 1.724 0 00-2.572 1.065c-.426 1.756-2.924 1.756-3.35 0a1.724 1.724 0 00-2.573-1.066c-1.543.94-3.31-.826-2.37-2.37a1.724 1.724 0 00-1.065-2.572c-1.756-.426-1.756-2.924 0-3.35a1.724 1.724 0 001.066-2.573c-.94-1.543.826-3.31 2.37-2.37.996.608 2.296.07 2.572-1.065z"
                            />
                            <path d="M15 12a3 3 0 11-6 0 3 3 0 016 0z" />
                            </svg>
                        </span>
                        <span class="ml-3">MY PROFILE</span>
                        </a>
                    </li>
                    {% comment %} LOGOUT {% endcomment %}
                    <li class="my-px">
                        <a
                        href="{% url 'account_logout' %}"
                        class="flex flex-row items-center h-10 px-3 rounded-lg text-gray-300 hover:bg-gray-100 hover:text-gray-700"
                        >
                        <span class="flex items-center justify-center text-lg text-red-400">
                            <svg
                            fill="none"
                            stroke-linecap="round"
                            stroke-linejoin="round"
                            stroke-width="2"
                            viewBox="0 0 24 24"
                            stroke="currentColor"
                            class="h-6 w-6"
                            >
                            <path
                                d="M8 11V7a4 4 0 118 0m-4 8v2m-6 4h12a2 2 0 002-2v-6a2 2 0 00-2-2H6a2 2 0 00-2 2v6a2 2 0 002 2z"
                            />
                            </svg>
                        </span>
                        <span class="ml-3">LOGOUT</span>
                        </a>
                    </li>
                    {% else %}
                    {% comment %} LOGIN {% endcomment %}
                    <li class="my-px">
                        <a
                        href="{% url 'account_login' %}"
                        class="flex flex-row items-center h-10 px-3 rounded-lg text-gray-300 hover:bg-gray-100 hover:text-gray-700"
                        >
                        <span class="flex items-center justify-center text-lg text-green-400">
                            <svg
                            fill="none"
                            stroke-linecap="round"
                            stroke-linejoin="round"
                            stroke-width="2"
                            viewBox="0 0 24 24"
                            stroke="currentColor"
                            class="h-6 w-6"
                            >
                            <path
                                d="M8 11V7a4 4 0 118 0m-4 8v2m-6 4h12a2 2 0 002-2v-6a2 2 0 00-2-2H6a2 2 0 00-2 2v6a2 2 0 002 2z"
                            />
                            </svg>
                        </span>
                        <span class="ml-3">LOGIN</span>
                        </a>
                    </li>
                    {% comment %} CREATE ACCOUNT {% endcomment %}
                    <li class="my-px">
                        <a
                        href="{% url 'account_signup' %}"
                        class="flex flex-row items-center h-10 px-3 rounded-lg text-gray-300 hover:bg-gray-100 hover:text-gray-700"
                        >
                        <span class="flex items-center justify-center text-lg text-yellow-400">
                            <svg
                            fill="none"
                            stroke-linecap="round"
                            stroke-linejoin="round"
                            stroke-width="2"
                            viewBox="0 0 24 24"
                            stroke="currentColor"
                            class="h-6 w-6"
                            >
                                <path
                                d="M5 8h14M5 8a2 2 0 110-4h14a2 2 0 110 4M5 8v10a2 2 0 002 2h10a2 2 0 002-2V8m-9 4h4"
                                />
                            </svg>
                        </span>
                        <span class="ml-3">CREATE ACCOUNT</span>
                        </a>
                    </li>
                    {% endif %}
                </ul>
            </div>
        </aside>
        <main class="main flex flex-col flex-grow -ml-64 md:ml-0 transition-all duration-150 ease-in">
            <header class="header bg-white shadow py-4 px-4">
                <div class="header-content flex items-center flex-row">
                    {% comment %} SEARCH FORM {% endcomment %}
                    {% comment %} <form action="#">
                        <div class="hidden md:flex relative">
                        <div
                            class="inline-flex items-center justify-center absolute left-0 top-0 h-full w-10 text-gray-400"
                        >
                            <svg
                            class="h-6 w-6"
                            fill="none"
                            stroke-linecap="round"
                            stroke-linejoin="round"
                            stroke-width="2"
                            viewBox="0 0 24 24"
                            stroke="currentColor"
                            >
                            <path d="M21 21l-6-6m2-5a7 7 0 11-14 0 7 7 0 0114 0z" />
                            </svg>
                        </div>

                        <input
                            id="search"
                            type="text"
                            name="search"
                            class="text-sm sm:text-base placeholder-gray-500 pl-10 pr-4 rounded-lg border border-gray-300 w-full h-10 focus:outline-none focus:border-indigo-400"
                            placeholder="Search..."
                        />
                        </div>
                        <div class="flex md:hidden">
                        <a href="#" class="flex items-center justify-center h-10 w-10 border-transparent">
                            <svg
                            class="h-6 w-6 text-gray-500"
                            fill="none"
                            stroke-linecap="round"
                            stroke-linejoin="round"
                            stroke-width="2"
                            viewBox="0 0 24 24"
                            stroke="currentColor"
                            >
                            <path d="M21 21l-6-6m2-5a7 7 0 11-14 0 7 7 0 0114 0z" />
                            </svg>
                        </a>
                        </div>
                    </form> {% endcomment %}
                    {% comment %} USER LOGED IN {% endcomment %}
                    <div class="flex ml-auto">
                        <a href="#" class="flex flex-row items-center">
                            {% thumbnail user.profile.image "100x100" crop="center" as im %}
                                <img class="rounded-full border-solid border-white border-2 -mt-3" src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}" alt="avatar">
                            {% endthumbnail %}
                            <span class="flex flex-col ml-2">
                                <span class="truncate w-20 font-semibold tracking-wide leading-none">{{ request.user.username }}</span>
                            </span>
                        </a>
                    </div>
                </div>
            </header>
            {% comment %} POST AREA {% endcomment %}
            <div class="main-content flex flex-col flex-grow p-4">
                <h1 class="font-bold text-2xl text-gray-700">Things I Learnt!</h1>

                <div
                class="flex flex-col flex-grow border-4 border-gray-400 border-dashed bg-white rounded mt-4"
                >
                    {% block body %}
                        {% block content %}T I L (Things I Learnt){% endblock content %}
                    {% endblock body %}
                
                </div>
            </div>
            {% comment %} FOOTER {% endcomment %}
            <footer class="footer px-4 py-6">
                <div class="footer-content">
                    <p class="text-sm text-gray-600 text-center">© Brandname 2020. All rights reserved. <a href="#">by iAmine</a></p>
                </div>
            </footer>
        </main>
</div>

{% comment %} CREATE NEW POST FORM {% endcomment %}
{% if request.user.is_authenticated %}
    <!-- component -->
    <div class="flex items-center justify-center fixed left-0 bottom-0 w-full h-full bg-gray-800 bg-opacity-75 hidden js-modal">
        <div class="bg-white rounded-lg w-1/2">
            <div class="flex flex-col items-start p-4">
                <div class="flex items-center w-full">
                    <div class="text-gray-900 font-medium text-lg">New post</div>
                    <svg class="ml-auto fill-current text-gray-700 w-6 h-6 cursor-pointer js-toggle-modal" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 18 18">
                        <path d="M14.53 4.53l-1.06-1.06L9 7.94 4.53 3.47 3.47 4.53 7.94 9l-4.47 4.47 1.06 1.06L9 10.06l4.47 4.47 1.06-1.06L10.06 9z"/>
                    </svg>
                </div>
            <hr>
            <div class="w-full">
                <textarea rows="3" class="border-2 border-blue-500 my-4 w-full js-post-text" placeholder="Enter your post" maxlennth="240" data-post-url="{% url 'feed:new_post' %}"></textarea>
            </div>

            <hr>
            <div class="ml-auto">
                <button class="bg-white text-gray-800 font-bold rounded border-b-2 border-green-500 hover:border-green-600 hover:bg-green-500 hover:text-white shadow-md py-1 px-3 inline-flex items-center test-sm mt-4 js-submit" type="button">
                    <span class="mr-2">Create Post</span>
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                        <path fill="currentcolor" d="M2.01 21L23 12 2.01 3 2 10l15 2-15 2z"></path>
                    </svg>
                </button>
            </div>
        </div>
    </div>
{% endif %}

<script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>

<script src="{% static 'js/main.js' %}"></script>

</body>
</html>